# These variables will be visible on the client side but are env variables so they don't get pushed to github
FIREBASE_SERVICE_ACCOUNT_KEY='{"type": "service_account","project_id": "your_project","private_key_id": "123","private_key": "suuuuperlongkeyhere","client_email": "firebase@your_project.iam.gserviceaccount.com","client_id": "789","auth_uri": "https://accounts.google.com/o/oauth2/auth","token_uri": "https://oauth2.googleapis.com/token","auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/your_project.iam.gserviceaccount.com","universe_domain": "googleapis.com"}'
FIREBASE_CONFIG='{"apiKey":"your_key","authDomain":"your_project.firebaseapp.com","projectId":"your_project","storageBucket":"your_project.appspot.com","messagingSenderId":"123456789","appId":"1:123123123:web:123asd123asd123","measurementId":"G-123asd123"}'
NEXT_PUBLIC_FIREBASE_CONFIG='{"apiKey":"your_key","authDomain":"your_project.firebaseapp.com","projectId":"your_project","storageBucket":"your_project.appspot.com","messagingSenderId":"123456789","appId":"1:123123123:web:123asd123asd123","measurementId":"G-123asd123"}'
NODE_ENV=development